#Data Science Notebook

## Introduction
This notebook covers key elements of data science including languages, libraries, tools, and sample code.

## Data Science Languages
- Python
- R
- SQL
- Julia
- Scala

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow

## Data Science Tools

| Tool          | Description                     |
|---------------|----------------------------------|
| Jupyter       | Interactive coding notebook     |
| RStudio       | IDE for R                       |
| Apache Spark  | Distributed computing framework |

## Examples of Arithmetic Expressions
Below are examples of basic arithmetic expressions using Python code.

In [ ]:
# Multiply and add numbers
result = (5 * 4) + 10
result

In [ ]:
# Convert minutes to hours
minutes = 150
hours = minutes / 60
hours

## Objectives
- List popular languages for Data Science
- Introduce common libraries used in Data Science
- Demonstrate simple arithmetic operations
- Convert minutes into hours using Python

## Author
Alok Gupta